/*general*/
body,
h2,
p {
    margin: 0;
}

h1 {
    margin-bottom: 0;
}

img {
    display: flex;
    max-width: 300px;
    object-fit: cover;
    max-height: 300px;
}

p {
    font-size: 48px;
    font-weight: bold;
}

button {
    padding: 25px;
}

/*header section*/
.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

/*content section*/
.content {
    display: flex;
    justify-content: space-around;
}

.left {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.right {
    flex-direction: column;
    display: flex;
    align-items: center;
}

/*footer section*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}