body {
    margin: 0;
}

img {
    display: flex;
    max-width: 300px;
    object-fit: cover;
    max-height: 300px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-around;
}

.left {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.right {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.choice {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}